.DS_Store
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.venv/
examples/
outputs/
supplemental/
experimental_data/*
!experimental_data/README.md
!experimental_data/*.h5
*.npz
*.pth
*.png
!artifacts/
!artifacts/**
publication/manuscript/manuscript.aux
publication/manuscript/manuscript.bbl
publication/manuscript/manuscript.blg
publication/manuscript/manuscript.fdb_latexmk
publication/manuscript/manuscript.fls
publication/manuscript/manuscript.log
publication/manuscript/manuscript.out
publication/manuscript/manuscript.pdf
